<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>自定义表格管理</title>
    <link rel="stylesheet" href="static/css/layui.css" media="all">
    <style>
        body {
            margin: 10px;
        }

        .layui-form select {
            display: block;
        }

        .demo-carousel {
            height: 200px;
            line-height: 200px;
            text-align: center;
        }

    </style>
</head>
<body>

<table class="layui-hide" id="demo" lay-filter="tool"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看字段信息</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="addInstance">增加实例</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="instance">查看实例表</a>
</script>
<script type="text/html" id="fieldBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="delete">删除</a>
</script>
</body>
<div id="instance_table_div" style="display: none">
    <table class="layui-hide" id="instance" lay-filter="tool"></table>
</div>
<div id="field_table_div" style="display: none">
    <table class="layui-hide" id="field" lay-filter="tool"></table>
</div>
<div id="table_form_div" style="display: none">
    <form class="layui-form" id="table_form"></form>
</div>
<div id="field_form_div" style="display: none">
    <form class="layui-form" id="field_form" lay-filter="field"></form>
</div>
<script src="static/layui.js"></script>
<script src="static/jquery-1.9.1.min.js"></script>
<script>
    // layui.config({
    //     version: '1623988781494' //为了更新 js 缓存，可忽略
    // });

    /**
     * 定义原生使用占位符的方法，格式化数据
     * @author sky
     * @date 2018-07-09
     * @returns {*}
     */
    String.prototype.format = function () {
        if (arguments.length == 0) return this;
        for (var s = this, i = 0; i < arguments.length; i++)
            s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
        return s;
    };

    function getField(sel) {
        let params = $(sel).serializeArray();
        let values = {};
        for (let item in params) {
            values[params[item].name] = params[item].value;
        }
        let data = JSON.stringify(values)
        return data;
    }

    function getCols(id) {
        let res = []
        res[0] = []
        res[0][0] = {type: 'checkbox', fixed: 'left'};
        let arr
        $.ajax({
            type: "post",
            url: "/table/tableDetail",
            data: {id: id},
            success: function (data) {
                // {field: 'id', title: 'ID', width: '10%', sort: true, fixed: 'left', totalRowText: '合计：'}
                console.info(data)
                arr = data.data.fields
                for (let i = 0; i < arr.length; i++) {
                    res[0][i+1] = {field: arr[i].fieldName, title: arr[i].fieldNameCn}
                }
            }
        })
        return res;
    }

    //加载模块
    layui.use(function () { //亦可加载特定模块：layui.use(['layer', 'laydate', function(){
        //得到各种内置组件
        var layer = layui.layer //弹层
            , laypage = layui.laypage //分页
            , laydate = layui.laydate //日期
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , slider = layui.slider //滑块
            , dropdown = layui.dropdown //下拉菜单
            , form = layui.form //表单

        function initFieldForm(id) {
            let f = $('#field_form')
            $.ajax({
                type: "post",
                url: "/table/tableDetail",
                data: {id: id},
                success: function (data) {
                    let arr, i, len, len2;
                    if (data.code === 200) {
                        arr = data.data.fields
                        for (i = 0, len = arr.length; i < len; i++) {
                            if (arr[i].fieldType === "string") {
                                let t = "<div class='layui-form-item'>" +
                                    "<label class='layui-form-label'>{0}</label>" +
                                    "<div class='layui-input-block'>" +
                                    "<input type='text' name='{1}' lay-verify='title' autoComplete='off' placeholder='请输入{2}' class='layui-input'>" +
                                    "</div>" +
                                    "</div>"
                                let tmpInput = $(t.format(arr[i].fieldNameCn, arr[i].fieldName, arr[i].fieldNameCn));
                                f.append(tmpInput)
                            } else {
                                let t = "<div class='layui-form-item'>" +
                                    "<label class='layui-form-label'>{0}</label>" +
                                    "<div class='layui-input-block'>" +
                                    "<select name='{1}' class='layui-input'>"
                                for (j = 0, len2 = arr[i].dictList.length; j < len2; j++) {
                                    t += "<option value='{0}'>{1}</option>".format(arr[i].dictList[j].dictKey, arr[i].dictList[j].dictValue)
                                }
                                t += "</select>" +
                                    "</div>" +
                                    "</div>"
                                let tmpInput = $(t.format(arr[i].fieldNameCn, arr[i].fieldName, arr[i].fieldNameCn));
                                f.append(tmpInput)
                            }
                        }
                    } else {
                        layer.msg("加载失败")
                    }
                }
            })
        }


        //table
        table.render({
            elem: '#demo'
            , height: 'full'
            , url: '/table/listTable/' //数据接口
            , title: '自定义表格'
            , page: false //开启分页
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: false //开启合计行
            , parseData: function (res) {
                return {
                    "code": res.code === 200 ? 0 : 1, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: '20%', sort: true, fixed: 'left', totalRowText: '合计：'}
                    , {field: 'tableName', title: '表名', width: '30%'}
                    , {field: 'tableNameCn', title: '表中文名', width: '30%', sort: true, totalRow: true}
                    , {fixed: 'right', title: '操作', width: '20%', align: 'center', toolbar: '#barDemo'}
                ]]
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        layer.alert('编辑 [id]：' + checkStatus.data[0].id);
                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                    }
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(tool)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                $('#field_table_div').show()
                layer.open({
                    type: 1,
                    content: $('#field'),
                    area: ['1000px', '700px'], //宽高
                    btn1: function (index) {
                        layer.close(index);
                        window.location.reload();
                    },
                    success: function (layernow, index) {
                        table.render({
                            elem: '#field'
                            , height: 'full'
                            , url: '/table/tableDetail/' //数据接口
                            , where: {
                                id: data.id
                            }
                            , area: ['700px', '600px'] //宽高
                            , title: '自定义表格字段'
                            , page: false //开启分页
                            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                            , totalRow: false //开启合计行
                            , parseData: function (res) {
                                return {
                                    "code": res.code === 200 ? 0 : 1, //解析接口状态
                                    "msg": res.msg, //解析提示文本
                                    "count": res.data === null ? 0 : res.data.count, //解析数据长度
                                    "data": res.data.fields //解析数据列表
                                };
                            }
                            , cols: [
                                [ //表头
                                    {type: 'checkbox', fixed: 'left'}
                                    , {field: 'id', title: 'ID', width: '10%', sort: true, fixed: 'left', totalRowText: '合计：'}
                                    , {field: 'fieldName', title: '字段名', width: '10%', sort: true, totalRow: true}
                                    , {field: 'fieldNameCn', title: '字段中文名', width: '20%', sort: true, totalRow: true}
                                    , {field: 'fieldType', title: '字段类型', width: '15%', sort: true, totalRow: true}
                                    , {fixed: 'right', title: '操作', width: '45%', align: 'center', toolbar: '#fieldBar'}
                                ]]
                        });
                    },
                    end: function () {
                        $('#field_table_div').hide()
                        window.location.reload();
                    }
                })
            } else if (layEvent === 'addInstance') {
                $('#field_form_div').show()
                initFieldForm(data.id)
                layer.open({
                    type: 1,
                    content: $('#field_form_div'),
                    area: ['800px', '700px'], //宽高
                    btn: ['提交', '关闭'], //只是为了演示
                    btn1: function (index) {
                        $.ajax({
                            type: "post",
                            url: "/table/saveOrUpdateRecord",
                            data: {
                                tableId: data.id,
                                data: getField('#field_form')
                            },
                            success: function (data) {
                            }
                        })
                    },
                    btn2: function (layernow, index) {
                        $('#field_form_div').hide()
                        window.location.reload();
                    },
                    end: function () {
                        $('#field_form_div').hide()
                        window.location.reload();
                    }
                })
            }else if (layEvent === 'instance') {
                $('#instance_table_div').show()
                let cols=getCols(data.id)
                layer.open({
                    type: 1,
                    content: $('#instance'),
                    area: ['1000px', '700px'], //宽高
                    btn1: function (index) {
                        layer.close(index);
                        window.location.reload();
                    },
                    success: function (layernow, index) {
                        table.render({
                            elem: '#instance'
                            , height: 'full'
                            , url: '/table/recordList/' //数据接口
                            , where: {
                                tableId: data.id
                            }
                            , area: ['700px', '600px'] //宽高
                            , title: '自定义实例表格'
                            , page: false //开启分页
                            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                            , totalRow: false //开启合计行
                            , parseData: function (res) {
                                return {
                                    "code": res.code === 200 ? 0 : 1, //解析接口状态
                                    "msg": res.msg, //解析提示文本
                                    "count": res.data === null ? 0 : res.data.count, //解析数据长度
                                    "data": res.data //解析数据列表
                                };
                            }
                            , cols: cols
                        });
                    },
                    end: function () {
                        $('#field_table_div').hide()
                        window.location.reload();
                    }
                })
            }
        });

    });
</script>
</html>
